.content-wrapper {
    padding-top: 50px;
    margin-left: 25%; 
    margin-right: 25%; 
    text-align: left;
}

p {
    font-weight: 100;
    line-height: 130%;
}

@media all and (max-width: 700px) {
    .content-wrapper {
        margin-left: 1%;    
        margin-right: 1%;    
    }
}