*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  background: black;
  background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}

img {
    width: 100%;
    height: auto;
}
h1, h2, h3 {
    font-weight: 100;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 50px;
    padding-top: 80px;
}

#header {
    text-align: right;
}
#page-wrapper {
    margin: 0 auto;
    width: 70%;
}

.column-wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 95%;
}

@media all and ( min-width: 600px ) {
  #left-column {
    float: left;
    padding: 20px;
    width: 50%;
  }
  #right-column {
    padding: 20px;
    float:left;
    width: 50%;
    text-align: center;
  }
}

#portrait-image {
    width: auto;
    height: auto;
}
