.content-wrapper {
    text-align:left;
    padding-bottom: 50px;
}

.content-wrapper  {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}


.content-wrapper h2 {
    font-weight: 900;
    padding-top: 20px;
}

@media all and (min-width: 1800px) {
    .content-wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
}

#download_pdf {
    float: left;
    width: 175px;
    padding: 2px;
    margin-left: 20px;
    padding-left: 5px;
    padding-bottom: 6px;
}

@media all and (max-width: 200px) {
    .header_bottom {
        padding-top: 100px;
    }
    #download_pdf {
        padding-left: 2px;
        margin-left: 0px;
    }
}