.content-wrapper {
    text-align:left;
    padding-bottom: 50px;
}

.bold {
    font-weight: 700;
}

.content-wrapper p, ul, li {
    font-weight: 200;
}

.content-wrapper h2 {
    font-weight: 900;
    padding-top: 20px;
}

@media all and (min-width: 1800px) {
    .content-wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
}